#report {
	display: none;
	line-height: 24px;
	margin-top: 20px;
	max-width: 70vw;
	@media (max-width: 500px) {
		max-width: 85vw;
	}
	height: var(--report-area-height);
	font-size: 20px;
	color: #dddddd;
	background-color: #444444;
	text-shadow: 1px 1px 1px #555;
	background-clip: text;
	
	body.collapsed & {
		display: block;
		& > .highlighted {
			display: inline;
			color: #7a7362;
			margin: 0;
			padding: 0;
		}
	}
}

